{% extends "dashboard/base.html" %} {% block title %} SHOW {% endblock %}
{%block body%}
<div class="container text-center">
  <div class="row">
    {% for post in posts%} 
    {% comment %} 
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <img src="{{post.image.url}}" height="200px" />
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.context}}</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="card m-1 bg-dark text-danger" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-5">
          <img
            class="img-fluid rounded-start"
            style="aspect-ratio: 1; object-fit: contain"
            src="{{post.image.url}}"
            height="300px"
          />
          <span
            class="translate-middle-y d-flex justify-content-center badge rounded-pill text-white border border-secondary"
          >
            {{ post.id }}
          </span>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text text-warning">{{post.context}}</p>
          </div>
          <div class="row card-body">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <a
              href="{% url 'update_post' post_id=post.id %}"
              class="btn btn-outline-primary col-md-4 mb-1"
              >UPDATE</a
            >
            <div class="col-md-1"></div>
            <a
              href="{% url 'delete_post' post_id=post.id %}"
              class="btn btn-outline-danger col-md-4 mb-1"
              >DELETE</a
            >
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{%endblock%}
